name: Invite on Label

on:
  issues:
    types: [labeled]

jobs:
  automate_invite:
    runs-on: ubuntu-latest
    permissions:
      issues: write

    steps:
      - name: Join Request
        uses: vj-abigo/invite-on-label@v1.2
        with:
          organization: itparadigmdll
          label: Join Request
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          comment: "<b>Invitation from DLL IT Paradigm</b><br>Thank you for joining with us, please make this community healthy that share, care, and inspire one another. This is an automated invitation, so please <a href='https://github.com/orgs/itparadigmdll/invitation'><b<i>ACCEPT</i></b></a> as one you have it.<br><b>- From the organization's administrators</b>"

        env:
          INVITE_TOKEN: ${{ secrets.INVITE_TOKEN }}
      
      - name: Commenting to user
        uses: actions/github-script@v7
        script: |
          await github.rest.issues.createComment({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: issueNumber,
                  body: "<b>Invitation from DLL IT Paradigm</b><br>Thank you for joining with us, please make this community healthy that share, care, and inspire one another. This is an automated invitation, so please <a href='https://github.com/orgs/itparadigmdll/invitation'><b<i>ACCEPT</i></b></a> as one you have it.<br><b>- From the organization's administrators</b>"
                });
